<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Items</h1>

    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="table-responsive">

            <%= form_for @item, :url => administration_update_path do |f|%>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Prix de départ</th>
                  <th>Pourcentage de remise</th>
                  <th>Prix</th>
                  <th></th>
                </tr>
              </thead>
              <tr>
                <td><%= @item.original_price %></td>
                <td><%= f.number_field :discount_percentage%></td>
                <td><%= @item.price %></td>
                <td><%= f.submit "Modifier", class: "btn btn-primary"%></td>
              </tr>
              <% array = [] %>
                <% array << @item %>
                <% array_without_item = (Item.all - array) %>
                <% array_without_item.each do |other_item| %>
                 <tr>
                <td><%= other_item.original_price.round(2) %></td>
                <td><%= other_item.discount_percentage %></td>

                <td><%= other_item.price.round(2) %></td>
                 <td><%= link_to "Modifier", edit_administration_item_path(other_item.id), class: "btn btn-primary" %></td>
                <% end %>
            </table>
            <% end %>
            <table class="table table-striped table-hover other_table">
              <tbody>


                </tr>
              </tbody>
            </table>


          </div>

        </div>
      </div>

    </div>
  </div>

</div>
</main>


